/*********************/
/*  TOOLTIP OVERLAY  */
/*   copied f/ HW5   */
/*********************/

.d3-tip {
    pointer-events: none;
    line-height: 1;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
    text-align:left;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    pointer-events: none;
    box-sizing: border-box;
    display: inline;
    font-size: 20px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
    pointer-events: none;
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}

div.tooltip {
    pointer-events: none;
}

/*********************/
/*     BAR CHART     */
/*********************/
.bars {
    fill: lightblue;
}

.percentage {
    text-anchor:middle;
}

svg .labels, svg .probability {
    text-anchor: end;
    alignment-baseline:middle;
}

#sort-none {
    display:none;
}

/* See: https://css-tricks.com/hover-on-everything-but/ */
g:hover > g.group {
    opacity: .3;
}

g:hover > g.group:hover {
    opacity: 1.0;
}


/**********************/
/*     LINE CHART     */
/**********************/
.axis path,
.axis line {
    fill: none;
    stroke: #333;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
    fill: #333;
}

.dot {
    fill: #31a354;
    stroke: #1C9A3D;
    stroke-width: 1.5px;
    opacity:.5;
}

.x-axis path {
    display: none;
}

.line {
    fill: none;
    opacity: 0.7;
    clip-path: url(#clip);
}

.line:hover {
    opacity: 1;
}

.brush .extent {
    stroke: #fff;
    fill-opacity: .125;
    shape-rendering: crispEdges;
}


/**********************/
/*     UNITS SOLD     */
/**********************/
#robot-units-sold {
    text-align: center;
    fill: #CCD1D1;
}


.title{
    fill: #333;
    font-size: 32px;
    font-weight:bold;
    text-decoration:underline;
}

.axis-label{
    fill: #333;
    font-size: 20px;
    /*font-weight:bold;*/
}

.data-source{
    fill: #333;
    font-size: 12px;
}

.subtitle-units-sold{
    text-align:center;
    font-size: 20px;
    font-weight:bold;
    padding:30px 1px 50px 1px;  /*top right bottom left padding */
}

/**********************/
/*     MAP            */
/**********************/
/* format table that contains building data stats */
table{
    border-collapse: collapse;

}

/* add table borders to area that shows data stats */
td {
    border-bottom: 1px solid #ABB2B9;
}

/* format table rows/cells that have selected building data */
th, td {
    font-size: 12px;
    padding: 4px;
    text-align: left;
}


h1 {
    text-align:center;
    font-size: 40px;
    font-weight:bold;
    padding:10px 1px 20px 1px;  /*top right bottom left padding */
}


h2 {
    font-size: 18px;
    text-align:left;
}

/* header for selected building data */
.map-table-title {
    font-size: 14px;
    text-align:left;
    font-weight:bold;
}

.tooltip-title{
    text-decoration:underline;
}

.explanatory-text{
    text-align:center;
    font-size:14px;
}
.subtitle-map{
    text-align:center;
    font-size: 20px;
    font-weight:bold;
    padding:30px 1px 50px 1px;  /*top right bottom left padding */
}

.map-state-and-table{
    position:relative;
    /*display:inline;*/
}




/* center bootstrap grid columns*/
.centergrid {
    text-align:center;
    vertical-align: top;
}

/* center image/text inside columns */
.centerGridCols {
    /* resource for centering grid columns:
       http://www.minimit.com/articles/solutions-tutorials/bootstrap-3-responsive-centered-columns */
    text-align: left;
    display:inline-block;
    float:none;
    vertical-align:top;
}



/**********************/
/*    MARKET SHARE    */
/**********************/



.draggable {
    width: 75px;
    height: 20px;
    padding-left: 0.5em;
}

.svgList {
    overflow: visible;
}



.marketShareCircles{
    stroke-width: 2px;
    stroke: black;
}


/* center bootstrap grid columns*/
.centergrid {
    text-align:center;
    vertical-align: middle;
}


.draggable {
    width: 150px;
    height: 25px;
    padding-left: 0.5em;
    /* resource for centering grid columns:
       http://www.minimit.com/articles/solutions-tutorials/bootstrap-3-responsive-centered-columns */
   text-align: left;
    float:none;
    vertical-align:middle;
    margin:20px;
}

#market-list-subtitle{
    width: 400px;
    height: 30px;
    text-align:center;
    font-size: 20px;
    font-weight:bold;
    /*margin:10px;*/
    padding:50px 1px 40px 1px;  /*top right bottom left padding */
}

#market-share-text{
    padding:0px 1px 40px 1px;  /*top right bottom left padding */
}


/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
    padding: 60px 15px 0;
}
.container .text-muted {
    margin: 20px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}