/*********************/
/*  TOOLTIP OVERLAY  */
/*   copied f/ HW5   */
/*********************/

.d3-tip, .d3-tip-states {
    pointer-events: none;
    line-height: 1;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
    text-align:left;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    pointer-events: none;
    box-sizing: border-box;
    display: inline;
    font-size: 20px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
    pointer-events: none;
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}

div.tooltip {
    pointer-events: none;
}

/*********************/
/*     BAR CHART     */
/*********************/
.bars {
    fill: #2BBE83;
}

.percentage {
    text-anchor:middle;
}

svg .labels, svg .probability {
    text-anchor: end;
    alignment-baseline:middle;
}

#sort-none {
    display:none;
}

/* See: https://css-tricks.com/hover-on-everything-but/ */
g:hover > g.group {
    opacity: .3;
    transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -webkit-transition: all .15s ease-in-out;
}

g:hover > g.group:hover, g.group {
    opacity: 1;
    transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -webkit-transition: all .15s ease-in-out;
}

.future-of-employment-sort .btn {
    margin-bottom:10px;
}

.future-of-employment-sort > .btn:last-child {
    border-radius:0;
}

.btn-group>.btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.future-of-employment-filter {
    float: right;
    background-color: #f2f2f2;
    padding: 25px 25px 15px 25px;
    border-radius: 5px;
    text-align:center;
}

.future-of-employment-sort {
    margin: 0 auto;
    width: 85%;
}

/**********************/
/*     LINE CHART     */
/**********************/
.axis path,
.axis line {
    fill: none;
    stroke: #333;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
    fill: #333;
}

.x-axis path {
    display: none;
}

.line {
    fill: none;
    clip-path: url(#clip);
}

.line:hover {
    opacity: 1;
}

.brush .extent {
    stroke: #fff;
    fill-opacity: .125;
    shape-rendering: crispEdges;
}

.employed-checkbox {
    top: -12.5px;
}

.unemployed-checkbox label span {
    font-size: .85em;
    position:relative;
    left: 45px;
    font-weight:normal;
}

.unemployed-checkbox {
    position:relative;
    left: 49px;
}

.employment-by-occupation-filter h6{
    display:inline-block;
    position:relative;
    right: 32px;
    font-weight:bold;
    cursor:pointer;

    background-color: #2BBE83;
    padding: 3px 4px;
    border-radius: 3px;
    color: white;
}

.employment-by-occupation-filter h6:hover {
    background-color: #27AB76;
}

.employment-by-occupation-filter h4 {
    text-align:center;
}

.axis-label{
    font-weight:bold;
}

.line-chart-title {
    text-align:center;
    padding-left:40px;
}

.extent{
    fill: #2BBE83;
}

.label {
    fill:darkgray;
}

/**********************/
/*     UNITS SOLD     */
/**********************/
#robot-units-sold {
    text-align: center;
    fill: #2BBE83;
}


.title{
    fill: #333;
    font-size: 32px;
    font-weight:bold;
    text-decoration:underline;
}

.axis-label{
    fill: #333;
    font-size: 20px;
    /*font-weight:bold;*/
}

.data-source{
    fill: #333;
    font-size: 12px;
    text-align: center;
}

.subtitle-units-sold{
    /*text-align:center;*/
    font-size: 20px;
    font-weight:bold;
    padding:30px 1px 50px 1px;  /*top right bottom left padding */
}

.units-sold-img{
    height: 350px;
}

/**********************/
/*     MAP            */
/**********************/
/* format table that contains building data stats */
table{
    border-collapse: collapse;

}

/* add table borders to area that shows data stats */
td {
    border-bottom: 1px solid #ABB2B9;
    width: 100px;
    word-wrap: break-word;
}

/* format table rows/cells that have selected building data */
th, td {
    font-size: 12px;
    padding: 4px;
    text-align: left;
}


h1 {
    text-align:center;
    font-size: 40px;
    font-weight:bold;
    padding:10px 1px 20px 1px;  /*top right bottom left padding */
}


h2 {
    font-size: 18px;
    text-align:left;
}

/* header for selected building data */
.map-table-title {
    font-size: 14px;
    text-align:left;
    font-weight:bold;
    padding:35px 0px 0px 0px;  /*top right bottom left padding */
}

.tooltip-title{
    text-decoration:underline;
}

.explanatory-text{
    text-align: left;
    font-size: 20px;
    /*font-weight:bold;*/
    /*padding:30px 1px 50px 1px; */ /*top right bottom left padding */
}
.subtitle-map{
    background-color: #f2f2f2;
    text-align:center;
    font-size: 20px;
    font-weight:bold;
    padding:30px 0px 30px 1px;  /*top right bottom left padding */
}


/* center bootstrap grid columns*/
.leftAlignGrid {
    text-align:left;
    /*vertical-align: top;*/
}

/* center image/text inside columns */
.centerGridCols {
    /* resource for centering grid columns:
       http://www.minimit.com/articles/solutions-tutorials/bootstrap-3-responsive-centered-columns */
    text-align: left;
    display:inline-block;
    float:none;
    vertical-align:top;
}

/* add padding to column that shows selected building data */
.market-size-table-column{
    /*margin:20px;*/
    /*padding:5px;*/
    padding:20px 0px 0px 1px;  /*top right bottom left padding */
}

#dataTypeDropDown{
    text-align: left;
}

#mapDropDown{
    text-align:right;
}

.market-size-dropdowns{
    padding:20px 0px 0px 0px;  /*top right bottom left padding */
}

.map-vis-title{
    font-size:18px;
}

.by-state-img{
    height: 450px;
}


/**********************/
/*    MARKET SIZE    */
/**********************/


.market-size-axis {
    font-family: sans-serif;
    font-size: 20px;
    fill: #333;
}

.svgList {
    overflow: visible;
}

.marketShareCircles{
    stroke-width: 2px;
    stroke: black;
}

.invisibleCircle{
    opacity: 0;
}

/* center bootstrap grid columns*/
.centergrid {
    text-align:center;
    vertical-align: middle;
}

.draggable {
    width: 90px;
    height: 25px;
    padding-left: 0.25em;
    padding-top: 0.2em;
    text-align: left;
    float:none;
    vertical-align:middle;
    margin:20px;
}

.draggable-wide {
    width: 90px;
    height: 50px;
}


.grey-background-plot-title{
    background-color: #f2f2f2;
    fill: #333;
    font-size: 32px;
    font-weight:bold;
    text-decoration:underline;
    text-align: center;
    padding:20px 0px 0px 0px;  /*top right bottom left padding */
}

.grey-background-plot-subtitle {
    background-color: #f2f2f2;
    fill: #333;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding:0px 0px 20px 0px;  /*top right bottom left padding */
}


#drag-drop-directions {
    fill: #333;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    padding:15px 0px 5px 0px;  /*top right bottom left padding */
}

#market-share-text{
    padding:0px 1px 40px 1px;  /*top right bottom left padding */
}

/*
#market-list-subtitle {
    fill: #333;
    font-size: 16px;
    text-align: center;
}

.plot-subtitle{
    font-size: 20px;
    text-align: center;
}*/

.market-size-img{
    height: 400px;
}

.img-caption{
    font-size: 12px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}


/* Custom Bootstrap page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
    padding: 60px 15px 0;
}
.container .text-muted {
    margin: 20px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.footer-span {
    float:right;
}

code {
    font-size: 80%;
}

.navbar, .footer {
    background-color: #7EB1DC;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover,.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    background-color: #5393C8;
    color: white;
}

.table>tbody>tr.info>td, .table>tbody>tr.info>th, .table>tbody>tr>td.info, .table>tbody>tr>th.info, .table>tfoot>tr.info>td, .table>tfoot>tr.info>th, .table>tfoot>tr>td.info, .table>tfoot>tr>th.info, .table>thead>tr.info>td, .table>thead>tr.info>th, .table>thead>tr>td.info, .table>thead>tr>th.info {
    background-color: #2BBE83;
    color: white;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a , .footer p {
    color: white;
}

* {
    font-family: 'Merriweather', serif;
}

h1,h2,h3,h4,h5,h6 {
    text-align:center;
    font-family: 'Cinzel', serif;
}

@media (min-width: 48em) {
    body > .container {
        padding: 150px 15px 0;
    }
}

@media (min-width: 75em) {
    body > .container {
        padding: 60px 15px 0;
    }
}

.image-left {
    float:left;
    font-size:.8em;
    text-align:left;
    margin-right:10px;
}

.image-right {
    float:right;
    font-size:.8em;
    text-align:left;
}